html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.docs-logotype {
    line-height: 40px;
    text-indent: 15px;
}

.docs-logo md-icon {
    height: 40px;
    margin: 0;
    width: 40px;
}

.md-whiteframe-glow-z2 {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 0 4px 3px rgba(0, 0, 0, 0.14), 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
}

/* Sidenav area */

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

md-list .selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}

/* Primary content area */

/*#content {*/
    /*overflow: hidden;*/
/*}*/

#grid {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.share > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

md-button.menuBtn > md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

#content .md-button.share:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

.avatar {
    position: relative;
    width: 128px !important;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

/* Animations */

.toolbar-animate.ng-enter,
.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.toolbar-animate.ng-enter,
.sample-show-hide.ng-hide {
    opacity: 0;
}

.toolbar-animate.ng-enter.ng-enter-active,
.sample-show-hide.ng-show {
    opacity: 1;
}